@charset "utf-8";

/* Basic Required */
body {
	margin: 0;
	padding: 0;
	font-size: 0.72em;
	font: normal Verdana, Arial, Helvetica, sans-serif;
}

#content {
	clear: both;
}

#topContent {
	padding: 0px;
	margin: 0px;
	height: 55px; /* 2px more then height of #header img */
}
#topRightInfo {
	margin: 0px;
	padding: 0px 2px 0px 2px;
	float: right;
	position: absolute;
	top: 0px;
	right: 0.8em;
	font-style: oblique;
	font-family: Cambria;
	font-size: 0.95em;
}

#topRightInfo span {
	padding-right: 0.3em;
	padding-left: 0.3em;
	margin-left: 0.3em;
}

#topRightInfo span span {
	padding: 0em;
	margin: 0em;
}

#header img {
float:left;
margin:0;
padding:0;

}

/* Navigation Menu*/
#divTopNav {
	padding: 1em 0px 0px 177px;
	clear: right;
}

#topnav {
	padding: 0;
	float: left;
	width: 95%;
	list-style: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.module-info {
	position: relative;
	text-align: left;
}


/* Content */
.container {
	margin: 0px 10px 40px 10px;
	text-align: left;
	padding: 0px;
}

#content {
	margin-right: 4%;
	margin-left: 4%;
}

#lastDiv {
	clear: both;
	position: relative;
	width: 100%;
	height: 25px;
	bottom: 0px;
}

.gridstyle {
	font-size: 75%;
	margin: 0;
	/* Remove body margin/padding 
	padding: 0;
}