@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-size: 0.72em;
	font: normal Verdana, Arial, Helvetica, sans-serif;
}

#content {
	clear: both;
}

#topContent {
	padding: 0px;
	margin: 0px;
	height: 55px; /* 2px more then height of #header img */
}
#topRightInfo {
	margin: 0px;
	padding: 0px 2px 0px 2px;
	float: right;
	position: absolute;
	top: 0px;
	right: 0.8em;
	font-style: oblique;
	font-family: Cambria;
	font-size: 0.95em;
}

#topRightInfo span {
	padding-right: 0.3em;
	padding-left: 0.3em;
	margin-left: 0.3em;
}

#topRightInfo span span {
	padding: 0em;
	margin: 0em;
}

#header img {
float:left;
margin:0;
padding:0;

}

/* Navigation Menu*/
#divTopNav {
	padding: 1em 0px 0px 177px;
	clear: right;
}

#topnav {
	padding: 0;
	float: left;
	width: 95%;
	list-style: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.module-info {
	position: relative;
	text-align: left;
}


/* Content */
.container {
	margin: 0px 10px 40px 10px;
	text-align: left;
	padding: 0px;
	background-color: #FFFFFF;
}

#content {
	margin-right: 4%;
	margin-left: 4%;
	background-color: #FFFFFF;
}

#lastDiv {
	clear: both;
	position: relative;
	width: 100%;
	height: 25px;
	bottom: 0px;
}

#footer {
	width: 98%;
	margin-left: 1%;
	-moz-border-radius-topleft: 4%;
	-khtml-border-radius-topleft: 4%;
	-webkit-border-top-left-radius: 4%;
	-moz-border-radius-topright: 4%;
	-khtml-border-radius-topright: 4%;
	-webkit-border-top-right-radius: 4%;
	-moz-border-radius-bottomleft: 4%;
	-khtml-border-radius-bottomleft: 4%;
	-webkit-border-bottom-left-radius: 4%;
	-moz-border-radius-bottomright: 4%;
	-khtml-border-radius-bottomright: 4%;
	-webkit-border-bottom-right-radius: 4%;
	margin-bottom: 10px;
}

#footerContent {
	width: 92%;
	margin-left: 4%;
	text-align: center;
}

/*
Form Style look
*/
legend {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

#memberInfoBasic {
	float: left;
	clear: none;
	display: inline;
	width: 100%;
}

#memberInfoImage {
	border-style: dotted;
	border-width: thin;
	width: 3.5cm;
	height: 4.5cm;
	float: right;
	clear: none;
}

.infoDiv {
	display: block;
	clear: both;
}

.infoHeader {
	float: left;
	text-align: right;
	text-transform: capitalize;
	padding-right: .3em;
	padding-left: .3em;
	clear: left;
}

.infoContent {
	width: 54%;
	float: right;
	text-transform: capitalize;
	padding-right: .3em;
	padding-left: .3em;
	vertical-align: middle;
}

#lbl_cbkVerify {
	position: relative;
	top: -0.5em;
	width: 2.5cm;
	float: right;
	padding: 0.4em;
	margin-right: 0.5cm;
}